/* #navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar::before{
    content: "";
    background-color: rgb(116, 113, 113);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 2rem;
    
}

#navbar ul li a{
    color: rgb(17, 9, 9);
    display: block;
    padding: 12px 20px;
    border-radius: 23px;
    text-decoration: none;
} */